<!doctype html>
<html lang="">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Strevde</title>
    <meta name="description" content="Visualize multi-day Strava trips">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.1/css/bulma.min.css" integrity="sha256-v5YlJGWVLS5hQ+o48fBzCKHEP2vMNsku57x3CosYykc="
        crossorigin="anonymous" />
    <link rel="stylesheet" href="https://jenil.github.io/bulmaswatch/spacelab/bulmaswatch.min.css" />

    <link rel="stylesheet" href="styles/app.css" />
</head>

<body>
    <div id="vueapp">
        <section class="hero is-primary is-bold">
            <div class="hero-body">
                <div class="container">
                    <div class="columns">
                        <div class="column is-half">
                            <h1 class="title is-3">
                                {{tripdata.title}}
                            </h1>
                            <p class="subtitle">
                                {{tripdata.subtitle}}
                            </p>
                        </div>
                        <div class="column is-half">
                            <div class="level is-mobile">
                                <div class="level-item has-text-centered">
                                    <div>
                                        <p class="title">{{tripdata.activities ? tripdata.activities.length : 0}}</p>
                                        <p class="heading">Days</p>
                                    </div>
                                </div>
                                <div class="level-item has-text-centered">
                                    <div>
                                        <p class="title">{{total_distance / 1000 | round(1)}}</p>
                                        <p class="heading">Kilometers</p>
                                    </div>
                                </div>
                                <div class="level-item has-text-centered">
                                    <div>

                                        <p class="title">{{total_elevation | round(0)}}</p>
                                        <p class="heading">Meters climb</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="map"></div>
                </div>
            </div>
        </section>

        <section class="section is-clearfix gallery">
            <div class="container">
                <h2 class="title">Photos</h2>
                <hr>
                <div class="columns is-mobile is-multiline">
                    <div class="column is-one-third-mobile is-3-tablet is-2-desktop" v-for="photo in photos">
                        <figure class="image is-square">
                            <img :src="photo.url" />
                        </figure>
                    </div>
                </div>
            </div>
        </section>

        <section class="section">
            <div class="container">
                <h2 class="title">Details</h2>
                <hr>
                <table class="table is-fullwidth">
                    <thead>
                        <tr>
                            <th class="is-hidden-mobile">Day</th>
                            <th class="is-hidden-mobile">Title</th>
                            <th>Time</th>
                            <th class="has-text-right">Distance</th>
                            <th class="has-text-right">Elevation</th>
                        </tr>
                    </thead>
                    <tbody>
                        <template v-for="(activity, index) in tripdata.activities">
                            <tr class="is-hidden-tablet">
                                <td colspan="3">
                                    <a v-bind:href="'https://www.strava.com/activities/' + activity.id" v-bind:title="activity.title">
                                        {{activity.title}}
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <th class="is-hidden-mobile">{{index + 1}}</th>
                                <td class="is-hidden-mobile">
                                    <a v-bind:href="'https://www.strava.com/activities/' + activity.id" v-bind:title="activity.title">
                                        {{activity.title}}
                                    </a>
                                </td>
                                <td v-bind:class="{ 'has-text-weight-bold': activity.moving_time == longest_moving_time }">
                                    {{activity.moving_time | friendlytime}}
                                </td>
                                <td class="has-text-right" v-bind:class="{ 'has-text-weight-bold': activity.distance == longest_distance }">
                                    {{activity.distance / 1000 | round(1)}} km
                                </td>
                                <td class="has-text-right" v-bind:class="{ 'has-text-weight-bold': activity.total_elevation_gain == highest_elevation }">
                                    {{activity.total_elevation_gain | round(0)}} m
                                </td>
                            </tr>
                        </template>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td class="is-hidden-mobile"></td>
                            <td class="is-hidden-mobile"></td>
                            <td>
                                <strong>{{total_moving_time | friendlytime}}</strong>
                            </td>
                            <td class="has-text-right">
                                <strong>{{total_distance / 1000 | round(1)}} km</strong>
                            </td>
                            <td class="has-text-right">
                                <strong>{{total_elevation | round(0)}} m</strong>
                            </td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </section>
    </div>

    <footer class="footer">
        <div class="container">
            <div class="content has-text-centered">
                <p>
                    <strong>Strevde</strong> is a rainy Sunday hack by
                    <a href="http://www.twitter.com/anderaus">Anders Austad</a>
                </p>
                <p>
                    <img id="strava-logo" src="assets/api_logo_pwrdBy_strava_stack_light.svg">
                </p>
            </div>
        </div>
    </footer>

    <script>
        var tripfilename = 'trip_montblanc';
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fetch/2.0.3/fetch.min.js" integrity="sha256-aB35laj7IZhLTx58xw/Gm1EKOoJJKZt6RY+bH1ReHxs="
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.6/vue.min.js" integrity="sha256-3s4FrKOOE5qGMKrmJphI/ih3J3NAWqS1LmRcB7i7xoU="
        crossorigin="anonymous"></script>
    <script src="scripts/vue.js"></script>
    <script src="scripts/app.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBGtDalRhPRN9lG6IYmIzy5EPueNf_7UlM&callback=initMap&libraries=geometry"
        async defer></script>

</body>

</html>