.gallery .image img {
    object-fit: cover;
}

#map {
    padding-bottom: 62%;
}

.table td,
.table th {
    padding-left: 0;
    padding-right: 0;
}

tr.is-hidden-tablet>td {
    border: none;
}

.mappopup {
    color: black;
}

#strava-logo {
    height: 3rem;
}